<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Phone_Book_by_I_M_Marinov.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Phone_Book_by_I_M_Marinov.Properties.Settings>
            <setting name="ExcelFilePath" serializeAs="String">
                <value>C:\Users\Marinov\Desktop\Contacts.xlsx</value>
            </setting>
        </Phone_Book_by_I_M_Marinov.Properties.Settings>
    </userSettings>
</configuration>